body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li.logout {
    margin-left: auto; /* Isso empurra o botão de logout para a direita */
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a,
nav ul li a.active {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

.perfil-container {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: left;
    max-width: 500px; /* Ajustado para acomodar melhor os campos do perfil */
}

.perfil-container h2 {
    margin-top: 0;
}

.inputContainer {
    margin-bottom: 15px;
}

.inputContainer label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.inputContainer input[type="text"],
.inputContainer input[type="email"],
.inputContainer input[type="number"],
.inputContainer input[type="password"],
.inputContainer input[type="file"],
.inputContainer select,
.inputContainer input[type="time"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.inputContainer input[type="file"] {
    background-color: #f1f1f1;
    border: 2px dashed #ccc;
    padding: 10px;
    cursor: pointer;
}

.inputContainer input[type="file"]::file-selector-button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.inputContainer input[type="file"]:hover::file-selector-button {
    background-color: #0056b3;
}

.actionContainer button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.actionContainer button:hover {
    background-color: #0056b3;
}
