body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Adiciona padding nas laterais do nav */
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Faz a lista ocupar o máximo de espaço possível */
    padding: 0;
    margin: 0;
}

nav ul .logo {
    flex-grow: 0; /* Impede que a logo cresça */
    margin-right: auto; /* Empurra tudo para a direita da logo */
}

nav ul .logo img {
    height: 40px; /* Ajuste conforme necessário para o tamanho da logo */
}

nav ul li {
    list-style: none; /* Remove estilos padrão da lista */
    margin: 0 10px; /* Espaçamento horizontal entre os itens */
}

nav ul li.logout {
    margin-left: auto; /* Isso empurra o botão de logout para a direita */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


main {
    padding: 20px;
    text-align: center;
}

#formSetor {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: left;
}

#formSetor h2 {
    margin-top: 0;
}

#formSetor input[type="text"],
#formSetor input[type="time"],
#formSetor select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#formSetor button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#formSetor button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

button {
    cursor: pointer;
}

.editBtn,
.deleteBtn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.editBtn {
    background-color: #ffc107;
    color: #fff;
}

.deleteBtn {
    background-color: #dc3545;
    color: #fff;
}